
/* scss mixin */
$mainC: #0E0057;


@mixin secWidth{
    width: 100%;
    min-width: 1320px;
    max-width: 1660px;
    margin: 0 auto;
    box-sizing: border-box; 
}
@mixin flexSB{display: flex; justify-content: space-between;}

section,.header_inner,.footer_inner{@include secWidth;}
section,.footer_inner{
    position: relative;
    padding: 80px 10px;
    box-sizing: border-box;
}

span{font-size: inherit;}




//scroll effect
.header.top{
    background: none;
.header_inner{
    color: #fff;
    .logo svg{fill: #fff;}
    .gnb>ul>li>a{color: #fff;}
    
    & .gnb>li:nth-child(3)>a::after{background-color: #fff;}
    .user_menu span{
        width: 60px; height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 40px;
        color: #fff;
    }
}
}


/********** visual_main **********/
.visual_main{
    position: relative;
    overflow-x: hidden;

    .swiper-wrapper{
        width: 100vw; height: 100vh;
    }

    .swiper-button-prev{
        position: absolute;
        top: 50%; transform: translateY(-50%); left: 0;
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        padding: 100px 40px;
    }
    .swiper-button-next{
        position: absolute;
        top: 50%; transform: translateY(-50%); right: 0;
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        padding: 100px 30px;
    }

    .swiper-pagination{
        position: absolute;
        left: 5%; top: 100%;
        width: 90%; height: 5px;
        margin-top: -100px;

        border-radius: 5px;

        background-color: rgba(255,255,255,0.5);


        .swiper-pagination-progressbar-fill{
            border-radius: 5px;
            background-color: $mainC;
        }
    }


    img{
        width: 100vw; height: 100vh;
        object-fit: cover;
    }




} //visual_main


/********** ranking **********/
.ranking{
    width: 1300px;
    input[type=radio]{display: none;}

    #rank_tab_btn1:checked ~ .rank_tab_cover .tab1{display: flex;}
    #rank_tab_btn2:checked ~ .rank_tab_cover .tab2{display: flex;}

    
    #rank_tab_btn1:checked ~ .tab_list>:nth-child(1),
    #rank_tab_btn2:checked ~ .tab_list>:nth-child(2){
        background-color: $mainC;
        color: #fff;
        font-weight: bold;
    }

    .rank_tab{
        display: none;
        justify-content: start;
        align-items: center;
        
    }

    .rank_list{
        width: 480px;
        min-height: 480px;
        box-sizing: border-box;
        margin-right: 20px;
        padding-left: 60px;
        
        ul{
            @for $i from 1 through 6{
                li:nth-child(#{$i})::before{
                    content: "0#{$i}";
                    margin-right: 15px;
                }
            }

            li{
                margin-left: 20px;
                font-size: 20px;
                height: 60px;
                line-height: 60px;
                border-bottom: 1px solid #333;
                cursor: pointer;

                &.on{
                    font-size: 24px;
                    font-weight: bold;
                    color: $mainC;
                }
            }


        }

        h2{
            font-size: 36px; font-weight: bold;
            border-bottom: 2px solid #333;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }


        
    }//rank_list

    .rank_slider{
        width: calc(100% - 500px);


        .swiper-slide{
            width: 60%;
            position: relative;
            overflow: hidden;

            .img{height: 480px; position: relative;}

            img{transition: .3s; opacity: 0;width: 80%;margin-top: 10%;}

            &.swiper-slide-next{
                z-index: -1;
                img{
                    margin-left: -10%;
                    opacity: .3;
                }
            }

            &:hover .rank_hover{
                    bottom: 0;
                    opacity: .5;                
            }

            .rank_hover{
                position: absolute;
                left: 0; right: 0;
                bottom: -100%;
                background-color: #000;
                padding: 30px 20px;
                opacity: 0;
                transition: .3s;
                display: none;
                
                p{
                    color: #fff;
                    font-size: 20px;

                    &.tit{
                        margin-bottom: 10px;
                    }
                }

                .btn_cover{
                    position: absolute;
                    right: 20px; bottom: 20px;
                    
                    button{
                        float: left;
                        &.like{margin-right: 10px;}
                        span{
                            color: #fff;
                            border: 1px solid #fff;
                            border-radius: 50%;
                            width: 40px; height: 40px;
                            box-sizing: border-box;
                            text-align: center; 
                            padding-top: 7px;
                            font-size: 28px;
                        }}}
            }//rank_hover


                
            &.swiper-slide-active{
                .rank_hover{display: block;}
                img{opacity: 1; width: 100%; margin-top: 0;}
            }

            &:empty{
                transition: 0;
                height: 10px;
            }

            
        }//swiper_slide




    }
}


/********** mid_banner **********/
.mid_banner{
        width: 100%;
        padding: 100px 0 100px;
        color: #fff;

        background:{
            color: rgba(0,0,0,0.5);
            blend-mode: multiply;
            image: url(./img/sus_ban01.jpg);
            position: center ;
            size: cover;
            repeat: no-repeat;
            attachment: fixed;
        }

        h1{margin-bottom: 30px;}

        p{text-align: center;}
        .more{
            transition: .2s;
            width: 75px;
            padding: 7px 15px;
            border-radius: 100px;
            border: 1px solid #fff;
            margin: 40px auto 0;
            span{display: block; float:right;}

            &:hover{
                background-color: rgba(255,255,255,0.5);
            }
        }
}


/********** new **********/
.new{
    width: 1300px;
    input[type=radio]{display: none;}

    @for $i from 1 through 3{
        input[type=radio]:nth-child(#{$i}):checked ~ .new_tab_cover .new_tab:nth-child(#{$i}){display: block;}

        input[type=radio]:nth-child(#{$i}):checked ~ .tab_list label:nth-child(#{$i}){background-color: $mainC; color: #fff;}
    }


    .new_tab_cover{
        margin-top: 100px;
    }

    .new_tab{
        display: none;
        
        .swiper-slide{
            width: calc(70% - 40px);
            display: flex;
            justify-content: end;
            position: relative;
            padding: 10px 25px;

            .new_img{
                width: 40%;
                margin-top: 2.5%;
                opacity: .5;
            }
            .new_txt{
                width: 0; height: 0;
                transition: .8s;
                
                .new_tit{
                    font-weight: bold;
                    font-size: 24px;
                    text-align: center;
                    margin: 40px 0;
                    background: none;
                }
                .new_desc{
                    font-size: 14px;
                    p{
                        margin-bottom: 20px;
                        &:last-child{margin-bottom: 0;}
                    }}

                }//new_txt

            .new_tit,.new_desc,.icon{display: none;}
            
            &.swiper-slide-active{
                background-color: #eee;
                .new_img{
                    width: 45%; margin-top: 0;
                    margin-right: 20px;
                    opacity: 1;
                }
            }
            &.swiper-slide-active,&.swiper-slide-next{
                justify-content: start;
                .new_txt{
                    transition: 0s;
                    width: calc(55% - 20px);
                }

                .new_tit,.new_desc{display: block;}
                
                .icon{
                    position: absolute;
                    right: 25px;
                    bottom: 10px;
                    display: flex;
                    button{
                        &.cart_btn{margin-right: 20px;}
                        span{
                        text-align: center;
                        font-size: 48px;
                    }}                    
                }//icon
            }            
        }//swiper_slide


        .swiper-pagination{
            position: relative;
            margin-top: 50px;

            .swiper-pagination-bullet-active{
                background-color: $mainC;
                width: 12px; height: 12px;
                margin-bottom: -2px;
            }
        }//swiper-pagination

        .swiper-button-prev{
            position: absolute;
            top: 45%; left: 10%; color: $mainC; 
            &::after{
                content: "\e5e0"; font-size: 64px;
                font-family: 'Material Icons Outlined';
            }
        }
        .swiper-button-next{
            position: absolute;
            top: 45%; right: 10%; color: $mainC; 
            &::after{
                content: "\e5e1"; font-size: 64px;
                font-family: 'Material Icons Outlined';
                
            }
        }
        

    }////new_tab

}//new

/********** magazine **********/
.magazine{
    .mag_cover{
        @include flexSB();
        .mag_detail{
            width: calc((100% - 40px)/3);
            position: relative;

            .img{
                margin-bottom: 20px;
                overflow: hidden;

                /* animate용 */
                transform: translateY(300px);
                opacity: 0;

                &:hover .mag_desc{
                    opacity: .8;
                }
            }
            h2{
                text-align: center;
                text-transform: uppercase;
                font:{
                    size: 24px;
                    weight: bold;
                }
            }

            .mag_desc{
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;

                background-color: #000;
                opacity: 0;
                transition: .3s;

                box-sizing: border-box;
                padding: 40px 15px 0;

                p{
                    &.tit{
                        font-size: 36px;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                    }

                    text-align: center;
                    color: #fff;
                    word-break: keep-all;
                }
            }
        }
    }//mag_cover
}//magazine


/********** recommend **********/
.recommend{
    .recom_cover{
        @include flexSB();

        .recom_detail{
            width: calc((100% - 40px)/3);
            position: relative;

            >button{
                position: absolute;
                display: block;
                &.recom1-1{top: 40%;left: 40%;}//원피스
                &.recom1-2{top: 80%;left: 60%;}//신발
                &.recom2-1{top: 30%;left: 60%;}//티셔츠
                &.recom2-2{top: 45%;left: 70%;}//가방
                &.recom3-1{top: 25%;left: 50%;}//티셔츠
                &.recom3-2{top: 50%;left: 40%;}//바지

                >span{
                    font-size: 36px;
                    color: #000;
                    cursor: pointer;
                }
            }


            .recom_desc{
                position: absolute;
                padding: 8px 20px;
                background-color: rgba(255,255,255,0.8);
                border-radius: 10px;
                display: none;
                opacity: 0;
                transition: .3s;
                &.on{
                    pointer-events: initial;
                    opacity: 1;
                }

                .tit{font-weight: bold;text-align: center; word-break: keep-all;}
                .price{text-align: right;}
                .icon{
                    display: flex;
                    button{
                        width: 50%;
                        span{
                        text-align: center;
                        font-size: 32px;}}
                }//icon

                &.desc1-1{top: 46%;right: 55%;}
                &.desc1-2{bottom: 21%;left: 47%;}
                &.desc2-1{bottom: 71%;right: 40%}
                &.desc2-2{top: 51%; right: 12%}
                &.desc1-2{bottom: 21%;left: 47%;}
                &.desc3-1{top: 30%;left: 55%;}
                &.desc3-2{top: 57%; left: 18%}
            }

            
        }

    }//rec_cover
}


/********** sns **********/
.sns{
    .sns_cover{
        @include flexSB();
        flex-wrap: wrap;

        li{
            width: calc((100% - 80px)/5);
            margin-bottom: 20px;

            .img{
                overflow: hidden;
                img{
                    transition: .3s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}